<div class="pt-5">
    <h2>CONDICION GENERAL</h2>
    <div class="row">
        <div class="col mt-md-5">
            <P>Brindamos un asesoramiento personalizado de nuestros asesores comerciales. Acordamos una cita, y te
                visitamos en tu empresa o domicilio para ofrecerte las diferentes alternativas, y juntos elegir la mejor
                opción que se adapte a sus necesidades.</P>
        </div>
        <div class="col">
            <h4>OFERTAS EXCLUSIVAS PARA VOS</h4>
            <ul>
                <li>Personas jurídicas</li>
                <li>Persona física – Responsable Inscripto</li>
                <li>Diplomático</li>
                <li>Compañías de seguros</li>
                <li>Magistrados</li>
                <li>Agentes de propaganda médica</li>
                <li>Organismos estatales</li>
            </ul>
        </div>
    </div>
</div>