h2 {
    font-family: Peugeot_new-bold;
}
.model-box {
    border: 3px solid transparent;
}
.model-box:hover {
    border-color: var(--primary-2);
    transition: 800ms;
}

.btn {
margin-left: 2px;
}
