<div class="pt-5">
    <h2>MODELOS</h2>
    <div class="models-container border border-dark">
        <div class="row mx-0">
            <div class="col-md-4 model-box text-center py-3" *ngFor="let modelo of modelos; index as i">
                <h3>{{ modelo.nombre }}</h3>
                <img class="img-fluid" src="assets/home/models/{{ modelo.img }}" alt="{{ modelo.alt }}">
                <div class="model-footer d-flex justify-content-end">
                    <a *ngIf="modelo.ficha" target="_blank" href="assets/home/models/fichas/{{ modelo.ficha }}">
                        <button type="button" class="btn btn-sm btn-primary-2 rounded-0">Ficha técnica</button>
                    </a>
                    <a *ngIf="modelo.manual" target="_blank" href="assets/home/models/manuales/{{ modelo.manual }}">
                        <button type="button" class="btn btn-sm btn-primary-2 rounded-0">Manual</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>