<div class="pt-5">
    <h2>REPRESENTANTES COMERCIALES</h2>
    <div class="row justify-content-around">
        <div class="col-md-3" *ngFor="let vendedor of vendedores">
            <div class="card mb-3 shadow-sm">
                <div class="p-1 border m-2">
                    <img src="assets/home/vendedores/{{vendedor.img}}" class=" img-fluid" alt="	">
                </div>
                <div class="card-body pt-0 pb-2 px-2">
                    <h5 class="m-0"> {{ vendedor.nombre }} </h5>
                    <p class="card-text m-0 mb-1"> {{ vendedor.sector }} </p>
                    <p class="mb-1"><i class="fas fa-phone"></i> {{ vendedor.cel }} </p>
                    <p class="mb-1"><small> {{ vendedor.email }} </small></p>

                    <!-- <div class="d-flex text-right">
                        <small class="text-muted">
                            <div class="vendedores-contacto">
                                <a class="mx-1"
                                    href="mailto:{{ vendedor.email }}?Subject=Solicito%20que%20me%20contacten."
                                    target="_top">
                                    <i class="far fa-envelope"></i>
                                </a>
                                <a class="mx-1"
                                    href="https://api.whatsapp.com/send?phone=54 {{vendedor.cel}} &amp;&amp;text=Hola,%20quisiera%20solicitar%20un%20turno.'"
                                    target="_blank">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                        </small>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</div>