.bg-navbar-peugeot {
    background-color: var(--primary-1);
}


.nav-link {
    font-family: "Peugeot_new-bold";
    color: var(--primary-4) !important;
}
.navbar-primary {
    font-size: 10px;
}
.navbar-secondary {
    font-size: 9px;
}
