<footer class="footer-peugeot">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4">
                <h6>PARIS AUTOS</h6>
                <p>Unico concesionario oficial Peugeot en la provincia de San Luis </p>
                <p><a href="#" class=""> Trabaja con nosotros</a></p>
                <p><a href="https://webmail.parisautos.com.ar/" class="">
                        Acceso WebMail</a></p>
            </div>
            <div class="col-md-2 d-none d-md-block">
                <h6>GRUPO PARIS</h6>

                <p><a target="_blank" href="https://peugeot.parisautos.com.ar/" class="">
                        Peugeot</a></p>
                <p><a target="_blank" href="https://citroen.parisautos.com.ar/" class="">
                        Citroën</a></p>
                <p><a target="_blank" href="https://usados.parisautos.com.ar/" class="">
                        Usados</a></p>
                <p><a target="_blank" href="https://postventa.parisautos.com.ar/" class="">
                        Postventa</a></p>
                <p><a target="_blank" href="https://parismotos.com.ar/" class="">
                        Motos</a></p>
            </div>
            <div class="col-md-2 d-none d-md-block">
                <h6>SECCIONES</h6>

                <p><a href="#" class=""> Peugeot</a></p>
                <p><a href="#" class=""> Citroën</a></p>
                <p><a href="#" class=""> Usados</a></p>
                <p><a href="#" class=""> Postventa</a></p>
            </div>
            <div class="col-md-4">
                <h6>CONTACTO</h6>

                <form method="post" action="send-mail2.php">
                    <div class="form-group">
                        <input type="text" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp"
                            placeholder="Nombre" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="tel" name="tel" placeholder="Celular"
                            autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" rows="3"
                            placeholder="Escriba su consulta aca."></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btm-xs">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2021 Copyright: <a href="">PARIS AUTOS S.A.</a>
    </div>
</footer>