h2 {
    font-family: Peugeot_new-bold;
}

.contact-form {
    background-color: var(--primary-3);
}

.form-header {
    font-family: Peugeot_new-regular;
    background-color: var(--primary-3);
    font-size: 1em;
}

map-container {
    height: 800px !important;
}
