<div class="pt-5">
    <h2>CONTACTANOS</h2>
    <div class="row">
        <div class="col-md-4 pr-0">
            <div class="form-header m-0 p-3">
                <h6>Dejanos tus datos</h6>
            </div>
            <form id="contact-form" class="contact-form px-3 pb-3" name="contact-form" method="post" action="send-mail1.php">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control form-control-sm" required="required"
                        placeholder="Nombre" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" class="form-control form-control-sm" required="required"
                        placeholder="Apellido" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="tel" name="tel" class="form-control form-control-sm" required="required"
                        placeholder="Telefono" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-sm" required="required"
                        placeholder="Email" autocomplete="off" />
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" required="required" class="form-control" rows="4"
                        placeholder="Escriba su consulta aca."></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6LeeVLsaAAAAAHXJDwZ9T-zzPhBOOFs66wKMbF_n"></div>
                <div class="form-group m-0 p-0">
                    <button type="submit" class="btn btn-primary-2 btn-block rounded-0">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-md-8 pl-0">
            <google-map width="100%" height="100%" [center]="center" [zoom]="zoom">
                <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                    [options]="markerOptions">
                </map-marker>
            </google-map>
        </div>
    </div>
</div>